body {
  background-color: black;
}

div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  border: 5px solid gray;
  margin: auto;
}

div.odd-row > div:nth-child(odd) {
  background-color: #ffce9e;
  width: 50px;
  height: 50px;
}

div.odd-row > div:nth-child(even) {
  background-color: #d08b47;
  width: 50px;
  height: 50px;
}

div.even-row > div:nth-child(even) {
  background-color: #ffce9e;
  width: 50px;
  height: 50px;
}

div.even-row > div:nth-child(odd) {
  background-color: #d08b47;
  width: 50px;
  height: 50px;
}
